project/serial/schema/prjsrlsptbase.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:spt="http://www.cadseer.com/prj/srl/spt"
  targetNamespace="http://www.cadseer.com/prj/srl/spt"
>
  <xs:include schemaLocation="prjsrlsptcolor.xsd"/>
  
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element name="name" type="xs:string" default="Empty"/>
      <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
      <xs:element name="color" type="spt:Color"/>
      <xs:element name="state" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema> 
