project/serial/featureline.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureLine">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="picks" type="srl:Picks"/>
    <xs:element name="lineId" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
  </xs:all>
</xs:complexType>

<xs:element name="line" type="srl:FeatureLine"/>
  
</xs:schema> 
